body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}

h1 {
    font-size: 2.5rem;
}

footer {
    font-size: 0.9rem;
}